---
import { SectionGridContainer } from '@components'
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

interface Props {
  post: CollectionEntry<'services'>
}

export async function getStaticPaths() {
  const content = await getCollection('services', (entry) => !entry.data.hidden)

  const result = content.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    }
  })

  return result
}

const { post } = Astro.props

const { Content } = await post.render()
const { title, subtitle, image, teaser, keywords } = post.data
---

<BaseLayout
  metaTitle={title}
  metaSubtitle={'bitbetter blog'}
  metaImage={Astro.url.origin + post.data.image.url}
  metaDescription={post.data.teaser}
  metaType='article'
  metaDate={post.data.date?.toISOString()}
  metaKeywords={keywords}
>
  <SectionGridContainer className='bg-bb-grey-200' innerClassName='py-12 lg:py-24 px-5 lg:px-0'>
    <div class='lg:col-start-2 col-span-11 flex flex-col gap-4'>
      {subtitle && <h4 class='uppercase text-black/60'>{subtitle}</h4>}
      <h1 class='font-grotesk text-4xl md:text-7xl font-medium'>{title}</h1>
    </div>
  </SectionGridContainer>
  <SectionGridContainer className='bg-bb-grey-200' innerClassName=''>
    <div class='lg:col-start-2 lg:col-span-6 order-2 lg:order-1'>
      <img
        src={image.url}
        alt={image.alt}
        class='w-full h-auto aspect-video object-cover lg:-mb-20'
      />
    </div>
    <div class='lg:col-start-9 lg:col-span-4 px-5 lg:px-0 order-1 lg:order-2'>
      <p class='text-lg py-4 leading-[1.4em] text-black/75' set:html={teaser} />
    </div>
  </SectionGridContainer>
  <SectionGridContainer innerClassName='pt-8 lg:pt-24 pb-28 px-5 lg:px-0'>
    <article
      class='lg:col-start-2 lg:col-span-6 prose prose-lg prose-p:leading-[1.4em] prose-headings:font-grotesk prose-blockquote:border-l-0 prose-blockquote:font-grotesk prose-blockquote:pl-0 prose-bb-grey prose-li:my-0 max-w-none'
    >
      <Content />
    </article>
  </SectionGridContainer>
</BaseLayout>
