---
import { Footer, Navbar, SectionGridContainer } from '../components'
import CarbonBadge from '@components/CarbonBadge.astro'
import { techstackKeywords } from '../util/content'

import '../styles/base.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/500.css'
import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource-variable/space-grotesk'

interface Props {
  metaTitle?: string
  metaSubtitle?: string
  metaDescription?: string
  metaImage?: string
  metaAuthors?: string[]
  metaFediverse?: string
  metaType?: string
  metaDate?: string
  metaUpdate?: string
  metaSchema?: string
}

const {
  metaTitle = 'bitbetter',
  metaSubtitle = 'Individuelle Software: Modern, bodenständig und ohne Schnickschnack',
  metaDescription = 'Wir sind zwei Software-Entwickler aus Hamburg und lösen Probleme im Bereich der Digitalisierung: Making the world a bit better.',
  metaImage = 'https://bitbetter.de/bitbetter_opengraph.jpg',
  metaAuthors = ['Fabian Schmidt', 'Moritz Stückler'],
  metaType = 'website',
  metaDate,
  metaUpdate,
  metaSchema,
  metaFediverse,
} = Astro.props

const isProduction = import.meta.env.MODE === 'production'
---

<html lang='de' class='overflow-x-hidden scroll-smooth'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/png' href='/bb_favicon.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <title>{`${metaTitle} - ${metaSubtitle}`}</title>
    <meta name='description' content={metaDescription} />
    <meta
      name='keywords'
      content={`bitbetter, software, hamburg, software-entwicklung, entwicklung, automatisierung, tailwind, ${
        techstackKeywords || ''
      }`}
    />
    <meta property='og:type' content={metaType} />
    <meta name='title' property='og:title' content={`${metaTitle} - ${metaSubtitle}`} />
    <meta name='description' property='og:description' content={metaDescription} />
    <meta property='og:url' content={Astro.url} />
    <meta name='image' property='og:image' content={metaImage} />

    {metaDate && <meta name='date' property='og:article:published_time' content={metaDate} />}
    {metaUpdate && <meta name='date' property='og:article:modified_time' content={metaUpdate} />}
    {
      metaAuthors?.map((author) => (
        <meta name='author' property='og:article:author' content={author} />
      ))
    }
    {metaFediverse && <meta name='fediverse:creator' content={metaFediverse} />}
    {metaSchema && <script type='application/ld+json' set:html={metaSchema} />}
    {
      isProduction && (
        <script
          async
          src='https://analytics.bitbetter.de/script.js'
          data-website-id='0c1e576e-389d-4f07-941c-8631e3c6dd0b'
        />
      )
    }
    <link
      rel='alternate'
      type='application/rss+xml'
      title='bitbetter blog RSS-Feed'
      href='/blog/feed.xml'
    />
  </head>
  <body class='flex flex-col overflow-x-hidden pt-20'>
    <Navbar buttonCaption='Schreib uns!' client:only='react' />
    <slot />
    <SectionGridContainer
      as='footer'
      className='bg-bb-grey-200 overflow-y-hidden'
      innerClassName='pt-20 pb-14 relative px-5 2xl:px-0 gap-y-12'
    >
      <Footer>
        <CarbonBadge production={isProduction} />
      </Footer>
    </SectionGridContainer>
  </body>
</html>
